<#assign version = "1.0.0" />

<#macro getNameByObj obj>
	<#if obj??>
		<#if ("index" == obj)>首页
			<#elseif ("user" == obj)>用户列表
			<#elseif ("category" == obj)>分类管理
			<#elseif ("video" == obj)>视频管理
			<#elseif ("news" == obj)>系统消息
			<#elseif ("advertisement" == obj)>广告管理
			<#elseif ("config" == obj)>系统配置
			<#else>Oops
		</#if>
	</#if>
</#macro>

<#macro getUserStatus obj>
	<#if obj??>
		<#if (0 == obj)><span class="red">待审核</span>
			<#elseif (1 == obj)><span class="green">正常</span>
			<#else>Oops！
		</#if>
	</#if>
</#macro>

<#macro getVideoStatus obj>
	<#if obj??>
		<#if (0 == obj)><span class="yellow_bg">待审核</span>
			<#elseif (1 == obj)><span class="green">已审核</span>
			<#elseif (2 == obj)><span class="red">已删除</span>
			<#else>Oops！
		</#if>
	</#if>
</#macro>

<#macro getNewsStatus obj>
	<#if obj??>
		<#if (0 == obj)><span class="green">上线</span>
			<#elseif (1 == obj)><span class="red">下线</span>
			<#else>Oops！
		</#if>
	</#if>
</#macro>
